@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-image: url("https://res.cloudinary.com/dbiudcrba/image/upload/v1682428063/pattern-background-desktop_wrys0g.svg");
    background-repeat: no-repeat;
    background-color: 	#e0e8ff;
}